<h1 class="current_category"><%= params[:category]%></h1>

<% if params[:category].blank? %>

    <hr>
    <h1>Cuarto</h1><div class ="row">
  <% @rooms1.each do |room1| %>
      <div class = "col-md-3">
        <a href="/rooms/<%=room1.id %>">
          <%=image_tag room1.room_img.url(:room_index),class: "room" %>
        </a>
      </div>

  <% end %>
</div>

    <hr>
    <h1>Departamento</h1>
    <div class ="row">
      <% @rooms2.each do |room2| %>
          <div class = "col-md-3">
            <a href="/rooms/<%=room2.id %>">
              <%=image_tag room2.room_img.url(:room_index), class: "room" %>
            </a>
          </div>

      <% end %>
    </div>

    <hr>
    <h1>Casa</h1>
    <div class ="row">
    <% @rooms3.each do |room3| %>
          <div class = "col-md-3">
        <a href="/rooms/<%=room3.id %>">
          <%=image_tag room3.room_img.url(:room_index),class: "room" %>
        </a>
          </div>

    <% end %>
    </div>

    <hr>
    <h1>Mejores Precios</h1>
    <div class ="row">
      <% @mejoresPrecios.each do |propiedad| %>
          <div class = "col-md-3">
            <a href="/rooms/<%=propiedad.id %>">
              <%=image_tag propiedad.room_img.url(:room_index),class: "room" %>
            </a>
          </div>

      <% end %>
    </div>

<% else %>

    <% if @rooms.count==0 %>
        <h2>No hay propiedades en esta categoría</h2>
    <% else %>
        <div class ="row">
        <% @rooms.each do |room| %>
            <div class = "col-md-3">
            <a href="/rooms/<%=room.id %>">
            <%=image_tag room.room_img.url(:room_index),class: "room" %>
            </a>
            </div>
        <% end %>
        </div>
    <% end %>

<% end %>