<div class = "row">

  <div class="col-md-4">


    <%= image_tag @room.room_img.url(:room_show), class: "room-show" %>

  </div>

  <div class="col-md-8">

    <div class="room-info">
      <h2 class ="room-nombre"><%= @room.nombre %> </h2>
      <h3 class="room-propietario"><span>Propietario: </span><%= link_to "#{@usuario.first_name} " + "#{@usuario.last_name}", usuario_path(@usuario.id) %></h3>
      <h2 class="avg-rating"><label>Calificación promedio</label></h2>
      <div class="average-review-rating" data-score="<%= @average_review %>"></div>
      <span class="number-of-reviews">Basada en <%= @room.reviews.count %> reseñas</span>
      <p class="room-desc"><%= @room.descripcion %></p>
      <p> <%= @room.ubicacion %> </p>
      <p><%= @room.reseña %></p>
    </div>
  </div>

</div>


<div class = "row">

  <div class = "col-md-4">

    <div class = "reviews">
    <h1>Reseñas</h1>
      <%= render @room.reviews %>
        <div>
        <%= link_to "Agregar reseña", new_room_review_path(@room), class: "btn-custom"%>
      </div>
    </div>

  </div>

</div>

<div class="links btn-group">

  <br><br>
<%= link_to "Regresar", root_path, class: "btn btn-custom"%>

<% if usuario_signed_in? %>

    <% if @room.usuario_id == current_usuario.id %>

        <%= link_to "Editar", edit_room_path(@room) , class: "btn btn-custom"%>
        <%= link_to "Eliminar", room_path(@room), method: :delete, data: {confirm: "¿Seguro que deseas eliminar esta propiedad?"} , class: "btn btn-custom"%>

    <% end %>

<% end %>
</div>

<script>
    $('.review-rating').raty({
        readOnly:true,
        score: function(){
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly:true,
        score: function(){
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });

</script>