<div class = "row">

  <div class="col-md-4">


    <%= image_tag @room.room_img.url(:room_show), class: "room-show" %>

  </div>

  <div class="col-md-8">
    <h1><%= @room.nombre %> </h1>

    <h2><%= link_to "#{@usuario.first_name} " + "#{@usuario.last_name}", new_room_review_path(@room) %></h2>


    <div class="average-review-rating" data-score="<%= @average_review %>">
      <label>Calificación promedio</label>
    </div>
    <span>Basada en <%= @room.reviews.count %> reseñas</span>

    <h5><%= @room.descripcion %></h5>
    <p> <%= @room.ubicacion %> </p>
    <p><%= @room.reseña %></p>

  </div>

</div>


<div class = "row">
  <div class = "col-md-4">

    <%= render @room.reviews %>

    <!-- Rese;as y calificaciones -->
    <div>
      <%= link_to "Agregar reseña", new_room_review_path(@room)%>
    </div>

  </div>

</div>

<%= link_to "Regresar", root_path%>

<% if usuario_signed_in? %>

    <% if @room.usuario_id == current_usuario.id %>

        <%= link_to "Editar", edit_room_path(@room) %>
        <%= link_to "Eliminar", room_path(@room), method: :delete, data: {confirm: "¿Seguro que deseas eliminar esta propiedad?"} %>

    <% end %>

<% end %>


<script>
    $('.review-rating').raty({
        readOnly:true,
        score: function(){
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly:true,
        score: function(){
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });

</script>