<h2><%= @room.nombre %> </h2>
<p> <%= @room.ubicacion %> </p>
<h5><%= @room.descripcion %></h5>
<p><%= @room.reseña %></p>
<%= link_to "Regresar", root_path%>
<%= link_to "Editar", edit_room_path(@room) %>
<%= link_to "Eliminar", room_path(@room), method: :delete, data: {confirm: "¿Seguro que deseas eliminar esta propiedad?"} %>