<h2><%= @room.nombre %> </h2>
<h3><%= current_usuario.first_name %></h3>
<h4>Categoría: <%= @room.category.name %></h4>
<h5><%= @room.descripcion %></h5>
<p> <%= @room.ubicacion %> </p>
<p><%= @room.reseña %></p>
<%= link_to "Regresar", root_path%>

<% if usuario_signed_in? %>

  <% if @room.usuario_id == current_usuario.id %>

    <%= link_to "Editar", edit_room_path(@room) %>
    <%= link_to "Eliminar", room_path(@room), method: :delete, data: {confirm: "¿Seguro que deseas eliminar esta propiedad?"} %>

    <% end %>

<% end %>